<h1>
  What positions are in your "<i>{{ spread.title }}</i
  >" spread?
</h1>
<div class="step-title">Step Two</div>
<div class="user-input">
  <span class="input-title">
    What will each card position mean in your spread?
  </span>
  <span class="more-info">
    For example, a "Next Step in Life" spread may consist of questions like
    "What is my next step?", "What do I have to change?", and "How can I change
    this?".
  </span>

  <div id="positions">
    <div *ngFor="let card of spread.cards; let i = index" class="position">
      <input
        type="text"
        [value]="card.position"
        (change)="updatePosition($event, i)"
      />
      <button (click)="removePosition(i)">-</button>
    </div>
    <button id="add-position" (click)="addPosition()">
      + Add another card position
    </button>
    <button id="next-button" (click)="validatePositions(spread.cards.length)">
      Next
    </button>
  </div>
</div>
