<div id="step-one" class="step">
  <h1>Welcome to your tarot reading!</h1>
  <div class="step-title">Step One</div>
  <div class="user-input">
    <span class="input-title">What will be the name of your spread?</span>
    <span class="more-info">
      For example, "Next Step in Life" is a great name for one that consists of
      questions like "What is my next step?", "What do I have to change?",
      and "How can I change this?".
    </span>
    <input #spreadTitle id="spread-title" type="text" placeholder="Next Step in Life" />
    <button id="next-button" (click)="setTitle(spreadTitle.value)">Next</button>
  </div>
</div>
